
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: #03036d;
    font-family: "Arapey", serif;

}

header {   
    background-color:#fff;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 7em 1em 0;
    gap: 10px;
}
.brand-container .logo {
    width: 80px;
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    outline: 1px solid #03036d19;
}
.brand-container h1 {
    color:#0000ff;
    font-size: 30px;
    font-weight: 400;
}

.hamburger {
    position: relative;
    top: 0;
    width: 35px;
    height: 3px;
    background-color: #0000ff;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
    transition: 0.4s;
}
.hamburger:before,
.hamburger:after {
    content: "";
    position: absolute;
    height: 3px;
    right: 0;
    background-color: #0000ff;
    border-radius: 2px;
    transition: 0.4s;
}
.hamburger:before {
    top: -10px;
    width: 35px;
}
.hamburger:after {
    top: 10px;
    width: 35px;
}
.toggle-menu {
    position: absolute;
    width: 35px;
    height: 100%;
    cursor: pointer;
    /* z-index: 3; */
    /* opacity: 0;  */
}
.hamburger,
.toggle-menu {
    /* display: none;    */
}
nav input:checked ~ .hamburger {
    background-color: transparent;
}
nav input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 35px;
}
nav input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 35px;
}
nav input:checked ~ ul {
    right: 0;
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.454);
}


nav ul {
    /* color: #03036d; */
    display: flex;
    list-style: none;
}
nav li {

    margin: 1em; 
    /* border: 1px solid #0000ff00;  */
    font-size: 20px;
}
nav ul li a {
    color: #03036d;
    text-decoration: none;
    padding: 5px 15px ; 
    border: 1px solid #0066ff00;
    border-radius: 5px;
}
nav ul li a:hover {
    color: #0066ff;
    padding: 7px 15px 10px 15px;
    border: 1px solid #0066ff;
    font-weight: bold;
    transition: 0.4s;
}
/* nav ul li a{
    color:  #fff;   
    display: block; 
    text-decoration: none;
    padding: 10px 15px;
    line-height: 1; 
    border: 1px solid #0000ff00; 
    border-radius: 5px;
    transition: 0.4s;
    font-size: 20px;
}  */
/* nav ul li a:hover{
    color: #0000ff;
    padding: 10px 20px 15px 20px;
    border: 1px solid #0000ff; 
    background-color:  #fff;
} */

main {
    color: #fff;
    margin: 3rem;
}

main .welcome-text {
    text-align: center;
} 
.welcome-text h2 {
    margin-top: 20px 0;
}
.our-services {
    width: 80%;
    margin: 4rem auto 2rem;
    border-bottom: 1px solid #ff0000;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 20px;
    box-shadow: 0px 2px 5px #ffffff18;
}

.service {
    flex-basis: 33.33%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    outline: 1px solid #ff0000;

}
.service:hover {
    color: #add8ea;
    background-color: #ffffffea;
    transform:scaleY(1.1);
    box-shadow: -2px 2px 5px #000;
    outline: none;
    transition: 0.4s;
}

.wrapper {
    color: #000;
    display: block;
    margin: 0 auto;
    width: inherit;
    height: inherit;
    text-decoration: none;
    text-align: justify;
    border-radius: inherit;
} 
.wrapper > * {
    margin: 1rem;
    font-size: 1.1em;
} 
.wrapper h4 {
    color: #ff0000;
}
.wrapper:hover {
    transform: scaleX(4px);
    transform: 0.4s;
}
.fa-solid {
    color: #add8ea;
    padding: 5px;
    font-size: 30px;
    background-color: #000;
    border-radius: 5px;
}

.lotto-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;  
    margin-top: 5rem;
}
.lotto-section-background-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: inherit;
    background-image: url("./Assets/image/Lotto\ image.jpg");
    opacity: 0.5;
    z-index: -1;
}

.lotto-section  {
  padding: 40px 0;
}
.colour-text-wrapper {
    position: absolute;
    top: 6em;
    width: 70%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;    
    background-color: #00000079;
    font-size: 3em;
}

.p-for-brown {
    color: #a52a2a;
    background-color: #ffffffd5;
    border-radius: 10px;
}

.p-for-yellow {
    color: #ffff00;
    text-indent: 10px;
    border-radius: 10px;
}

.p-for-green {
    color: #008000;
    background-color: #ffffffd5;
    border-radius: 10px;
}

.p-for-lightBlue {
    color: #add8ea;
    border-radius: 10px;
}

.p-for-purple {
    color: #ac0eac;
    border-radius: 10px;
 }

 .vlb-link {
    color: #0066ff;
    position: absolute;
    top: 18em;
    width: 300px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
 }
 .vlb-link:hover {
    color: #add8ea;
    text-decoration: none;
    background-color: #00000079;
    transition: 0.5s;
 }
 .vlb-link .fa-arrow-right {
    display: none; 
 }
 /* .fa-arrow-right {
    display: none;
 } */
 .vlb-link:hover > .vlb-link-span{
    display: none;
 }
 .vlb-link:hover > .fa-arrow-right  {
    display: inline;
 }

 footer {
    color: #0066ff;
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    background-color: #fff;

 }



                /* media view */
            /* 600px */
        @media screen  and (max-width: 600px) {
                body {
                    width: 100%;
                }


                .brand-container {
                    flex-direction: column;
                    justify-content: flex-start;
                    margin: 0;
                }

                ul {
                    color: #03036d;
                    display: none;
                    list-style: none;
                }


                main {
                    margin: 1.5rem;
                }
                .welcome-text h1 {
                    text-align: justify;
                    width: 98%;
                    font-size: 30px;
                }


                .service {
                    flex-basis: 90%;
  
                }
        }



