

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background-color: #03036d;
}

header {
   
    /* padding: 10px 0; */
    background-color:#fff;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
}

.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 7em 1em 0;
    gap: 10px;
}

.brand-container .logo {
    background-color: #fff;
    padding: 3px;
    border-radius: 50%;
    outline: 1px solid #03036d19;

}



ul {
    color: #03036d;
    display: flex;
    list-style: none;
}
li {
    margin-left: 2em;
}

main {
    color: #fff;
    margin: 3rem;
}

main .welcome-text {
    text-align: center;
} 
.welcome-text h2 {
    margin-top: 20px 0;
}
.our-services {
    width: 80%;
    margin: 4rem auto 2rem;
    border-bottom: 1px solid #ff0000;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 20px;
    box-shadow: 0px 2px 5px #ffffff18;
}

.service {
    flex-basis: 33.33%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    outline: 1px solid #ff0000;

}
.wrapper {
    color: #000;
    display: block;
    margin: 0 auto;
    width: inherit;
    height: inherit;
    text-decoration: none;
    text-align: justify;
    border-radius: inherit;
} 
.wrapper > * {
    margin: 1rem;
    font-size: 1.1em;
} 
.wrapper h4 {
    color: #ff0000;
}
.wrapper:hover {
    transform: scaleX(4px);
    transform: 0.4s;
}
.fa-solid {
    color: #add8ea;
    padding: 5px;
    font-size: 30px;
    background-color: #000;
    border-radius: 5px;
}

.lotto-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     height: 400px; 
    margin-top: 5rem;
    /* background-color: #add8ea; */
}
.lotto-section div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 500px;
background-image: url("./Assets/image/Lotto\ image.jpg");
opacity: 0.5;
z-index: -1;
}

.lotto-section  {
    /* color: #fff; */
    /* display: block; */
    font-size: 35px;
    margin-top: 7em;
    text-align: center;
    font-weight: bolder;
}

.lotto-span .brown {
    color: #a52a2a;
    border-radius: 10px;
    background-color: #000;
}
.lotto-span .yellow {
    color: #ffff00;
    border-radius: 10px;
    background-color: #000;
    text-indent: 100px;
    margin-top: 20rem !important;
}
.lotto-span-green {
    color: #008000;
    border-radius: 10px;
    background-color: #000;
    text-decoration: dotted;
}
.lotto-span-lightBlue {
    color: #add8ea;
    border-radius: 10px;
    background-color: #000;
}
.lotto-span-purple {
    color: #9c029c;
    border-radius: 10px;
    background-color: #000;
}



