
.presentation {
    display: block;
}

canvas {
  display: block;
}

.newYear {
  position: absolute;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  right: 40%;
}
.year {
  top: 0;
}
.date {
  top: 10%;
}
.para {
  top: 20%;
  padding: 10px;
  background-color: rgba(255, 250, 250, 0.055);
  font-size: 2rem;
  border-radius: 10px;
}
  


  /* svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 40px;
    font-weight: 700;
    stroke-width: 3;
    z-index: 3;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }  */


  @media screen and (max-width: 359px) {
    body {
      width: 100%;
      height: 100vh;
    }

    .words span {
      color: #f4d03f;
      font-size: 2.5rem;
      /* line-height: 1.5; */
    }
}

@media screen and (min-width: 360px) and (max-width: 800px) {
  body {
    width: 100%;
    height: 100vh;
  }

  .words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .words span {
    color: #f4d03f;
    font-size: 3.4rem;
    /* line-height: 1.5; */
  }
}