
.presentation {
    display: block;
}

.words {
    color: #f4d03f;
    font-size: 0;
    line-height: 1;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }

  p.message {
    color: #fffafa;
    text-decoration: solid;
    text-transform: capitalize;
    text-justify: auto;
    padding: 20px;
    background-color: #00000070;
    border: 1px solid #ffffff34;
    border-radius: 10px;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;

    animation: here 5s ease infinite alternate-reverse;
  }
    @keyframes here {
      0% {
        opacity: 0;
      }
      25%{
        opacity: 0.2;
      }
      75% {
        color: #add8eb
      }
      100% {
        color: #fff;
      }
    }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  


  /* svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #ffa5d8;
    font-size: 40px;
    font-weight: 700;
    stroke-width: 3;
    z-index: 3;
   
    animation: textAnimate 5s infinite alternate;
    
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset:  20%;
      fill:hsl(189, 68%, 75%)
  
    }
    
    100% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: hsla(189, 68%, 75%,0%)
    }
    
  }  */


  @media screen and (max-width: 359px) {
    body {
      width: 100%;
    }

    .words span {
      color: #f4d03f;
      font-size: 2.5rem;
      /* line-height: 1.5; */
    }
}

@media screen and (min-width: 360px) and (max-width: 800px) {
  body {
    width: 100%;
  }

  .words {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .words span {
    color: #f4d03f;
    font-size: 3.4rem;
    /* line-height: 1.5; */
  }
}